@import "../layout";
@import "../mixins";
@import "../colors";
// ========================>>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: $mainBackgroundColor;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .quranAppBox {
    background-color: #fff;
    border-radius: 7px;
    background: url("../../images/images_light.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    // height: 600px;
    // backdrop-filter: blur(10px);
    // filter: blur(8px);
    // -webkit-filter: blur(8px);

    .tabBtnBox {
      background-color: $boxTabColor;
      //   background-color: white;
      padding: 10px 20px;
      @include d-flex();
      justify-content: space-around;
      position: relative;
      width: 450px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      //   border-bottom: 3px solid $boxTabColor;

      .tab_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 1px;
        // color: grey;
        color: white;
        padding: 5px;
        transition: all 0.3s ease-in-out;
        &.active {
          transform: scale(1.2);
          //   color:$boxTabColor;
        }
      }

      .line {
        width: 43px;
        height: 7px;
        // background-color: $boxTabColor;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 54px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: all 0.3s ease-in-out;
      }
    }

    .contentBox {
      padding: 20px 30px;
      height: 500px;
      display: flex;
      justify-content: center;
      .content_item {
        display: none;
        animation: moving 0.5s ease;
        &.active {
          display: block;
        }

        @keyframes moving {
          from {
            transform: translateX(50px);
            opacity: 0;
          }
          to {
            transform: translateX(0);
            opacity: 1;
          }
        }

        .currentTime {
          // font-size: 2rem !important ;
          background-color: $boxTabColor;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
        }

        .listenQuran {
          @include d-column();
          gap: 20px;
          padding-top: 100px;

          select {
            width: 250px;
            height: 50px;
            background-color: $boxTabColor;
            color: white;
            font-size: 17px;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 25px;
            &::-webkit-scrollbar {
              width: 10px;
              height: 10px;
              color: white;
            }
            &::-webkit-scrollbar-track {
              border: rgb(180, 180, 180);
              background-color: white;
            }

            &::-webkit-scrollbar-thumb {
              background-color: green;
              border: 2px solid white;
              border-radius: 10px;
            }
          }
          #surah {
            display: none;
          }
          #ayah {
            display: none;
          }
          button {
            border: none;
            outline: none;
            background-color: $btnBackgroundColor;
            color: white;
            padding: 10px 40px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 18px;
            @include btn();
          }
          #backAyah {
            display: none;
          }

          audio {
            display: none;
            &::-webkit-media-controls-play-button {
              background-color: white;
              border-radius: 20px;
              color: green;
            }
            &::-webkit-media-controls-panel {
              background-color: green;
              color: white;
            }
            &::-webkit-media-controls-mute-button {
              background-color: #fff;
              border-radius: 20px;
            }
            &::-webkit-media-controls-current-time-display {
              color: white;
            }
            &::-webkit-media-controls-time-remaining-display {
              color: white;
            }
          }

          #text {
            text-align: center;
            width: 390px;
            font-size: 25px;
            color: white;
            margin-top: 50px;
            background-color: green;
            padding: 15px 10px;
            border-radius: 10px;
            display: none;
          }
        }
      }
    }

    .footerBox {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $boxTabColor;
      color: white;
      padding: 10px 20px;
      font-size: 17px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
